/* =========================
   RESET
========================= */

* {
  box-sizing: border-box;
}


/* =========================
   ESTRUTURA
========================= */

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;

  background:
    linear-gradient(
      135deg,
      #cbd5e1 0%,
      #e2e8f0 50%,
      #cbd5e1 100%
    );

  color: #0f172a;
}


/* =========================
   ROOT
========================= */
#root {
  min-height: 100vh;

  display: flex;

  justify-content: center;
  align-items: flex-start;

  padding: 40px 20px;

  box-sizing: border-box;
}


/* =========================
   RESPONSIVO
========================= */

@media (max-width: 800px) {

  #root {
    padding: 20px 10px;
  }
}
